# python -m backend.app 
# venv\Scripts\activate
# python -m pip install -r requirements.txt
flask
flask-sqlalchemy
flask-login
flask-migrate
flask-wtf
email-validator
werkzeug
python-dotenv
gunicorn
geopy
opencv-python
face-recognition
numpy
pillow
qrcode
xhtml2pdf
reportlab