{% extends "base.html" %}

{% block title %}Monthly Report{% endblock %}

{% block content %}

<h2 class="text-center">Monthly Attendance Report</h2>

<div class="table-responsive">
<table class="table table-bordered mt-4">

    <thead class="table-dark">
        <tr>
            <th>Student Name</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

    {% for record in records %}

    <tr>
        <td>{{ record.student.name }}</td>
        <td>{{ record.timestamp.strftime("%Y-%m-%d") }}</td>

        <td>
            {% if record.face_verified %}
                Present
            {% else %}
                Not Verified
            {% endif %}
        </td>
    </tr>

    {% endfor %}

    </tbody>

</table>
</div>

<a href="/reports" class="btn btn-secondary mt-3">Back</a>

{% endblock %}